<form method="POST" action="/new">
    <h1><%= title %></h1>
    <input type="text" name="Name" placeholder="Name">
    <input type="text" name="message" placeholder="message">
    <button type="submit">Submit</button>
</form>